/*.app-wrapper {
  margin: 0 auto;
  display: grid;
  width: 95%;
  grid-template-areas:
    "h h"
    "n c";

  grid-template-rows: 80px 1fr;
  grid-template-columns: 1fr 20fr;
  grid-gap: 10px;
}

.app-wraper-content {
  grid-area: c;
  background-color: rgba(209, 206, 211, 0.781);
  border-radius: 5px;
}*/
.app-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  background-color: #cbc7d8ad;
}

.main-layout {
  display: grid;
  grid-template-columns: 250px 1fr; /* Navbar занимает 250px, остальное - Content */
  grid-template-rows: auto 1fr auto; /* Header сверху, Content в центре, Footer внизу */
  grid-template-areas:
      "header header"
      "navbar content"
      "footer footer";
  height: 100%;
}

.content {
  flex: 1;
  padding: 20px;
  overflow: auto;
}