/* .buttonСontainer{
    display: flex;
    gap: 10px;
    margin-top: 20px;
}

.button {
    padding: 10px;
    background-color: #666;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.button:hover {
    background-color: #888;
} */


.mainContainer {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    overflow: auto;
}

.mainTheme img {
    width: 100vw;
    height: 100vh;
}

.registerContainer {
    width: 30vw;
    height: 50vh;
    top: 35vh;
    left: 35vw;
    position: absolute;
    margin: -90px 0 0 -20px;
    border: 0.1vh solid rgba(210, 135, 111, 1);
    backdrop-filter: blur(10px);
    box-shadow: 0px 0px 40px 0px rgba(190, 131, 113, 0.15);
    backdrop-filter: blur(35px);
}

.title {
    text-align: center;
    font-size: 1.25rem;
    display: flex;
    padding-left: 1vw;
    padding-right: 1vw;
    padding-top: 1vw;
    justify-content: space-between;
    margin-bottom: 5vh;
}

.mobiTestText {
    color: #0092DD;
    transition: 0.45s;
    font-family: 'Exotc350';
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    font-size: 1.7vh;
}

.systemEnterText {
    color: #6A6A6A;
    /* Main name */
    font-family: 'Avrile Sans Condensed Medium';
    font-size: 1.7vh;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin-left: 2vw;
}

.registrationText {
    color: #D9A696;
    font-family: 'Avrile Sans Condensed Regular';
    font-size: 1.4vh;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: -0.4px;
}

.registrationText a {
    text-decoration: none;
    color: #D9A696;
}

.registrationText a:hover {
    text-decoration: underline;
}

.inputBox {
    display: flex;
    justify-content: center;
    margin-top: 2vh;
}



.input {
    width: 20vw;
    /*370px;*/
    height: 5vh;
    border-radius: 1vh;
    border: 0.1vh solid #ddd;
    border-bottom: 0.4vh solid rgba(210, 135, 111, 1);
    background: rgba(240, 238, 237, 1);
    box-sizing: border-box;
    padding: 0 1.5vw;
    transition: 0.3s padding;
    transition: all 800ms ease-out;
    /* transition: transform 500ms ease-out; */
}

.input:hover {
    /* transform: scale(1.1); */
    /* transition: transform 200ms ease-in; */
    padding: 0px 0px 0px 5vh;
    transition: all 500ms ease;
    transition: all 500ms ease-out;
    color: #5c5359;
}


.input::placeholder {
    /* opacity: 0.3; */
    color: #6e656b;
    /* color: #6e656b; */
    font-family: 'Avrile Sans Condensed Regular';
    font-size: 1.5vh;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
}

.input:hover::placeholder {
    color: #353033;
}


.buttonСontainer {
    display: flex;
    margin-top: 4vh;
    justify-content: center;
}

.button {
    font-family: 'Avrile Sans Condensed';
    font-weight: 800;
    font-size: 1.7vh;
    width: 20vw;
    /*370px;*/
    height: 5vh;
    background-color: rgba(0, 146, 221, 1);
    color: white;
    border: none;
    border-radius: 1vh;
    cursor: pointer;
    transition: 0.3s padding;
}

.button:hover {
    transition: all 500ms ease;
    padding: 5px 5px 5px 5px;
    box-shadow: inset 0px 10px 10px rgb(33, 138, 190);
    /* background-color: rgb(33, 138, 190); */
}

.button:active {
    -webkit-transform: scale(0.94);
    transform: scale(0.94);
}

.yandexIcon {
    cursor: pointer;
    width: 2.5vw;
    height: 5vh;
    user-select: none;
    transition: 0.3s;
    /* background: red; */
    display: flex;
    justify-content: center;
    margin-right: 2vw;
    align-items: center;
    border-radius: 3vh;
    border: 0.3vh solid rgba(0, 146, 221, 1);
}

.yandexIcon:hover {
    transform: rotate(15deg);
}

.yandexImgIcon img {
    width: 2.7vw;
    height: 3.5vh;
    margin-top: 0.4vh;
}

.googleIcon {
    user-select: none;
    cursor: pointer;
    width: 2.5vw;
    height: 5vh;
    user-select: none;
    transition: 0.3s;
    /* background: red; */
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 3vh;
    border: 0.3vh solid rgba(0, 146, 221, 1);
}

.googleIcon:hover {
    transform: rotate(15deg);
}

.googleImgIcon img {
    width: 2.7vw;
    height: 3.5vh;
    margin-top: 0.4vh;
}

.registrationButtonsWrapper {
    margin-top: 2vh;
    transition: left 0.4s, top 0.45s;
    display: flex;
    justify-content: center;
}